<!DOCTYPE HTML>
<html>
<head>
<meta charset='utf-8' />
<meta http-equiv='cache-control' content='no-cache' />
<meta name='viewport' content='width=device-width, height=device-height, user-scalable=no, initial-scale=1.0 ,minimum-scale=1.0,maximum-scale=1.0' />
<script src= "js/append_mls.js" ></script>
<script src= "js/append_mls.config.js" ></script>

<script src= "js/angular-1.0.1.min.js" ></script>
</head>
<body >
    <anchor-a01 >

    </anchor-a01>
    <div class= "ctrA01" ng-controller= "ctrA01" >
        <input ng-model= "mde_a01" />
        <input ng-model= "mde_a02" />
        <div >{{ exPh_a01 }}</div>
        
    </div>
    <div class= "ctrA02" ng-controller= "ctrA02" >
        <input ng-model= "modelName1" />
        <p >{{vm.pgpA01.name}}</p>
        <p >{{vm.pgpA01.name2}}</p>
        <p >{{vm.pgpA01.name3}}</p>

    </div>
</body>
<script type= "text/javascript">
    var pgp_moduleA01 = angular.module ( "modA01" , [] ) ;
    pgp_moduleA01.provider
    (
        "providerA01" ,
        function ()
        {
            this.$get = function ()
            {
                return {
                    a : function ()
                    {
                        return 123123
                    }
                }
            } ;
        } 
    ) ;
    var pgp_injectA01 = angular.injector ( [ "modA01" ] ) ;
    var pgp_providerA01 = pgp_injectA01.get ( "providerA01" ) ;
    
    pgp_moduleA01.directive 
    ( 
        "anchorA01" , 
        function ()
        {
            return {
                restrict : "E" ,
                replace : true ,
                template : `<div ></div>` ,
                link : function ( scope , ele , attr )
                {   
                    ele.text ( 1 ) ;
                } 
            } ;
        } 
    ) ;
    pgp_moduleA01.controller 
    (
        "ctrA01" ,
        function ( $scope )
        {
            console.log ( "scope:" , $scope ) ;
            console.log ( "modelName:" , $scope.modelName ) ;
            $scope.mde_a01 = "111" ;
            console.log ( "model2:" , $scope.model2 ) ;
            $scope.fn_mde_a02 = function ()
            {
                $scope.mde_a02 = 2222 ;
            } ;
            $scope.fn_exPh_a01 = function ()
            {
                $scope.exPh_a01 = "exPh_a01" ;
            } () ;
        }
    ) ;
    pgp_moduleA01.controller
    (
        "ctrA02" ,
        function ( $scope , $http )
        {
            /*$http
            (
                {
                    method : "jsonp"  
                    ,
                    url : 'http://localhost:8080/mall_a01/malldata?scm=malldata&tbNamesStr=shoe,overcoat&jsonp=jsonp'  

                }
                
            )*/
            $http
            .jsonp ( 'http://localhost:8080/mall_a01/malldata?scm=malldata&tbNamesStr=shoe,overcoat&jsonp=JSON_CALLBACK' )
            .success
            (
                function ( data )
                {
                    console.log ( "data:" , data  ) ;
                }
            )
            /*.then
            (
                function ( data )
                {   
                    console.log ( "data:" ,  data ) ;
                } , 
                function ()
                {}
            ) ;*/
            /*var pgp_jsonp = $append_mls.invokeJsonp 
            (
                {
                    str_url : 'http://localhost:8080/mall_a01/malldata?scm=malldata&tbNamesStr=shoe,overcoat&jsonp=asdfas' ,
                    pgp_jsonCb : null ,
                    fn_callBack : function ( data )
                    {
                        console.log ( "data:" , data ) ;
                    }

                }
            ) ;
            console.log ( "pgp_jsonp:" , pgp_jsonp ) ;
            pgp_jsonp.then
            (
                function ( resolved )
                {
                    console.log ( "resolved:" , resolved ) ;
                }
            ) ;*/
            $scope.vm = 
            {
                pgpA01 : {
                    name : 111 ,
                    name2 : 222 ,
                }
            } ;
            $scope.fn_exPh_a02 = function ()
            {
                $scope.vm.pgpA01.name3 = 333 ;
            } () ;
        }
    ) ;
    
    angular.element ( document ).ready
    (
        function ( $ )
        {
            angular.bootstrap ( document , [ "modA01" ] ) ;
        }
    ) ;

</script>




</html>