<!DOCTYPE HTML>
<html>
<head>
<meta charset='utf-8' />
<meta http-equiv='cache-control' content='no-cache' />
<meta name='viewport' content='width=device-width, height=device-height, user-scalable=no, initial-scale=1.0 ,minimum-scale=1.0,maximum-scale=1.0' />
<script src= "js/append_mls.js" ></script>
<script src= "js/append_mls.config.js" ></script>

<script src= "js/angular-1.0.1.min.js" ></script>
</head>
<body >
    <anchor-a01 >

    </anchor-a01>
    <div class= "ctr_a01" ng-controller= "ctr_a01" >
        <input ng-model= "mde_a01" />
        <input ng-model= "mde_a02" />
        <div >{{ any_vm_a01 }}</div>
        
    </div>
    <div class= "ctr_a02" ng-controller= "ctr_a02" >
        <input ng-model= "modelName1" />
        <p ng-repeat= "x in vm.pgp_a01" >{{ x }}</p>
        <div ng-repeat= "ary_a in json_data">
            <ul ng-repeat= "pgp_a in ary_a">
                <!--<li ng-repeat= "any_key in pgp_a" ng-if= "any_key != link">{{ any_key }}</li>-->
                <img ng-src= "{{ pgp_a.link }}" />
            </ul>
            

        </div>

    </div>
</body>
<script type= "text/javascript">
    var mdu_a01 = angular.module ( "mdu_a01" , [] ) ;
    console.log ( "mdu_a01:" , mdu_a01 ) ;
    mdu_a01.provider
    (
        "pvd_a01" ,
        function ()
        {
            this.$get = function ()
            {
                return "" ;
            }
        } 
    ) ;
    mdu_a01.provider
    (
        "pvd_a02" ,
        function ()
        {
            this.$get = function ()
            {
                return {
                    a : function ()
                    {
                        return 123123
                    }
                }
            } ;
        } 
    ) ;
    var inj_a01 = angular.injector ( [ "ng" , "mdu_a01" ] ) ;
    var pvd_a02 = inj_a01.get ( "pvd_a02" ) ;
    console.log ( "pvd_a02:" , pvd_a02.a () ) ;
    mdu_a01.directive 
    ( 
        "anchorA01" , 
        function ()
        {
            return {
                restrict : "E" ,
                replace : true ,
                template : `<div ></div>` ,
                link : function ( scope , ele , attr )
                {   
                    ele.text ( 1 ) ;
                } 
            } ;
        } 
    ) ;
    mdu_a01.controller 
    (
        "ctr_a01" ,
        function ( $scope , pvd_a02 )
        {
            console.log ( "scope:" , $scope ) ;
            console.log ( "pvd_a02:" , pvd_a02 ) ;
            console.log ( "ngMde1:" , $scope.ngMde1 ) ;
            $scope.mde_a01 = "111111" ;
            console.log ( "ngMde2:" , $scope.ngMde2 ) ;
            $scope.fn_mde_a02 = function ()
            {
                $scope.mde_a02 = 2222 ;
            } ;
            $scope.fn_vm_a01 = function ()
            {
                $scope.any_vm_a01 = "vm_a01" ;
            } () ;
        }
    ) ;
    console.log ( "mdu_a01:" , mdu_a01 ) ;
    mdu_a01.controller
    (
        "ctr_a02" ,
        function ( $scope , $http )
        {
            /*$http
            (
                {
                    method : "jsonp"  
                    ,
                    url : 'http://localhost:8080/mall_a01/malldata?scm=malldata&tbNamesStr=shoe,overcoat&jsonp=jsonp'  

                }
                
            )*/
            $http
            .jsonp ( 'http://localhost:8080/mall_a01/malldata?scm=malldata&tbNamesStr=shoe,overcoat&jsonp=JSON_CALLBACK' )
            .success
            (
                function ( json_data )
                {
                    console.log ( "json_data:" , json_data  ) ;
                    $scope.json_data = json_data ;
                }
            )
            /*.then
            (
                function ( data )
                {   
                    console.log ( "data:" ,  data ) ;
                } , 
                function ()
                {}
            ) ;*/
            /*var pgp_jsonp = $append_mls.invokeJsonp 
            (
                {
                    str_url : 'http://localhost:8080/mall_a01/malldata?scm=malldata&tbNamesStr=shoe,overcoat&jsonp=asdfas' ,
                    pgp_jsonCb : null ,
                    fn_callBack : function ( data )
                    {
                        console.log ( "data:" , data ) ;
                    }

                }
            ) ;
            console.log ( "pgp_jsonp:" , pgp_jsonp ) ;
            pgp_jsonp.then
            (
                function ( resolved )
                {
                    console.log ( "resolved:" , resolved ) ;
                }
            ) ;*/
            $scope.pgp_vm = 
            {
                pgp_a01 : {
                    name : 111 ,
                    name2 : 222 ,
                }
            } ;
            $scope.fn_vm_a02 = function ()
            {
                $scope.pgp_vm.pgp_a01.name3 = 333 ;
            } () ;
        }
    ) ;
    
    angular.element ( document ).ready
    (
        function ( $ )
        {
            angular.bootstrap ( document , [ "mdu_a01" ] ) ;
        }
    ) ;

</script>




</html>