<!DOCTYPE HTML>
<html>
<head>
@@include( "../temp/temp_head_ngA01.html" )
<script type= "text/javascript" src= "./ngC_a02.js" ></script>
</head>
<body >
   <!-- <anchor-a01 >

    </anchor-a01>-->
    <div ng-controller= "ctr-root" ></div>
    <!--<div class= "ctr_a01" ng-controller= "ctr_a01" >
        <input ng-model= "mde_a01" />
        <input ng-model= "mde_a02" />
        <div >{{ any_vm_a01 }}</div>
        
    </div>
    <div class= "ctr_a02" ng-controller= "ctr_a02" >
        <input ng-model= "modelName1" />
        <p ng-repeat= "x in vm.pgp_a01" >{{ x }}</p>
        <div ng-repeat= "ary_a in json_data">
            <ul ng-repeat= "pgp_a in ary_a">
                
                <img ng-src= "{{ pgp_a.link }}" />
            </ul>
            

        </div>

    </div>-->
</body>
<script type= "text/javascript">
    

</script>




</html>